.mastheader{
    width:100vw;
    background-color: #000;
    color:#fff;
    margin-left:-2rem;
    padding:1rem 2rem;
    font-size: 20px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

}
.mastheader > h1{
   flex-basis: 38vw; 
   flex-grow: 0;
   flex-shrink: 1;
}